@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

.Backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.49);
  z-index: 999;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Backdrop.Spinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.LoginPage {
  height: 100vh;
  background: rgba(244, 244, 244, 0.91);
}

.Login {
  width: 500px;
  height: 670px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  background: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}

.TextField {
  text-align: left;
}

.ConfirmationCode {
  width: 50%;
  height: 50%;
  background: #ffffff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.CloseButton {
  display: inline-block;
  width: 43px;
  margin-bottom: 40px;
}

.amplify-button {
  font-family: var(--amplify-fonts-default-variable) !important;
  font-weight: 530 !important;
}
/*
NOTE: change the class base on total tabs: radix-{total tabs}-content-{tab num}
 */
/*tab 1*/
#radix-3-content-0 {
  display: flex;
  flex-direction: column;
  padding: 45px;
}
#radix-3-content-0 > button {
  margin-top: 18px;
}
#radix-3-content-0[data-state="inactive"] {
  padding: 0px;
}
/*tab 2*/
#radix-3-content-1 {
  display: flex;
  flex-direction: column;
  padding: 45px;
}
#radix-3-content-1 > button {
  margin-top: 18px;
}
#radix-3-content-1[data-state="inactive"] {
  padding: 0px;
}
/*tab 3*/
#radix-3-content-2 {
  display: flex;
  flex-direction: column;
  padding: 45px;
  text-align: left;
}
#radix-3-content-2 > button {
  margin-top: 18px;
}
#radix-3-content-2[data-state="inactive"] {
  padding: 0px;
}
