.App {
  text-align: center;
}

.App-logo {
  height: 48vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 77vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-Language {
  width: 340px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.App-Language-Button {
  margin-top: 15px;
}

.Backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.49);
  z-index: 999;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Settings {
  background: #ffffff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Settings-Button {
  justify-content: left;
}

.Settings-CloseButton {
  display: inline-block;
  width: 43px;
  margin-bottom: 10px;
}

.Backdrop-MFA {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.67);
  z-index: 1000;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MFA {
  background: #ffffff;
  z-index: 1001;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MFA-Button {
  justify-content: left;
}

.MFA-Button-Cancel {
  background-color: #9684b9;
  color: #ffffff;
  margin: 15px;
}

.OTP {
  background: #ffffff;
  z-index: 1002;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.OTP-Info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.OTP-Info-Item {
  margin: 10px;
}
